* {
    box-sizing: border-box;
}
/*id #
class .
  */
main {
    padding: 10px;

}

body {
    background-color: #dbd4cc;
    margin: 0px;
}

header {
    position: relative;
    background-color: #a6aa92;
    text-align: center;
    padding: 5px;
    z-index: 2;
}

.T{
    position: relative;
    color: #5d5c58;
    text-align: center;
    font-size: 22px;
    letter-spacing: 2px;
}


.list li{
    position: relative;
    font-family: Arial;
    font-size: 20px;
    text-align: center;
    letter-spacing: 2px;
    margin: 15px;
    display: inline-block;
    background-color: #a6aa92;
}

.list a{
    position: relative;
    color: #f0eae4;
    text-decoration: none;
}



section {
    max-width: 800px;
    margin: 30px auto;
    padding: 70px;
    background-color: #ede6de;
    border-radius: 8px;
}

.about-container {
    display: flex;
    align-items: center;
    font-size: 17px;
}

.about-img {
    max-width: 350px;
    max-height: 250px;
    border-radius: 20%;
    margin: 25px 100px;
}

.about-word{
    text-align: center;
}

/**/
.experience1-container {
    display: flex;
    align-items: center;
    font-size: 17px;
}

.experience1-img {
    margin-right: 18px;
    max-width: 300px;
    border-radius: 5%;
    margin: 20px 70px;
    transition: transform 0.3s ease-in-out;
}

.experience1-word{
    text-align: center;
}

/**/
.experience2-container {
    display: flex;
    align-items: center;
    font-size: 17px;
}

.experience2-img {
    margin-right: 18px;
    max-width: 300px;
    border-radius: 5%;
    margin: 20px 70px;
    transition: transform 0.3s ease-in-out;
}

.experience2-word{
    text-align: center;
}
/**/
.experience3-container {
    display: flex;
    align-items: center;
    font-size: 17px;
}

.experience3-img {
    margin-right: 18px;
    max-width: 300px;
    border-radius: 5%;
    margin: 20px 70px;
    transition: transform 0.3s ease-in-out;
}

.experience3-word{
    text-align: center;
}

.slogan{
    text-align: center;
    color: #5d5c58;
    font-size: 25px;
    font-family: 微軟正黑體;
    font-weight: bold;
}

aside {
    width: 25%;
    float: right;
    text-align: center;
    position: fixed;
    top: 0;
    right: 0;
    overflow-y: auto;
}

.card {
    background-color: white;
    padding: 10px;
    margin: 15px;
    border-radius: 12%;
    background-size: cover;
    z-index: 5;
}

.clearfix {
    clear: both;
}

footer {
    background-color: #a6aa92;
    color: #444444;
    text-align: center;
    padding: 10px;
}

progress{
    width: 700px;
}
